<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>RSA 加密解密</title>
  <script src="./js/jsencrypt.min.js"></script>
  <script src="./js/vue.js"></script>
  <style>
    html,
    body,
    div,
    textarea {
      margin: 0;
      padding: 0;
    }

    textarea {
      box-sizing: border-box;
      width: 600px;
      max-width: 100%;
      border: solid 1px #000;
    }

  </style>
</head>

<body>
  <div id="app">
    <h1>RSA 加密解密</h1>
    <div>
      <div>用于加密的公钥：</div>
      <textarea v-model="key.publicKey" @input="inputPublicKey" rows="3"></textarea>
    </div>
    <div>
      <div>用于解密的私钥：</div>
      <textarea v-model="key.privateKey" @input="inputPrivateKey" rows="10"></textarea>
    </div>
    <div>
      <div>明文：</div>
      <textarea v-model="decryptData" rows="5"></textarea>
    </div>
    <div>
      <div>密文：</div>
      <textarea v-model="encryptData" rows="5"></textarea>
    </div>

    <button @click="encrypt">加密</button>
    <button @click="decrypt">解密</button>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: function () {
        return {
          key: {
            // 请求公钥
            publicKey: localStorage.getItem('publicKey') || 'MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCbwgUR4qyEHDm/S2EizPCnTIFgJrqN8SXYmDzZW6scOgz4ZM9IUDNa0lfIw2y8qcd+QS25ZXj+YrOyGhODyn3lD6hGR5NMwfQhV+kPAQEKft/Ub8+E3ITvQdZOCfpYALcMGZhgwWJQULuH2ThKriX4qHCuvkLnUYv/U9O5qU5dnQIDAQAB',
            privateKey: localStorage.getItem('privateKey') || 'MIICdQIBADANBgkqhkiG9w0BAQEFAASCAl8wggJbAgEAAoGBAJvCBRHirIQcOb9LYSLM8KdMgWAmuo3xJdiYPNlbqxw6DPhkz0hQM1rSV8jDbLypx35BLblleP5is7IaE4PKfeUPqEZHk0zB9CFX6Q8BAQp+39Rvz4TchO9B1k4J+lgAtwwZmGDBYlBQu4fZOEquJfiocK6+QudRi/9T07mpTl2dAgMBAAECgYAHHjfDGHvP0cZl0pkO0RTSYHGtJjfyUqnrGxH00Pah5JlBJMJASMIADYrLdvraKFwgjfP7/AIqhfI2WnC33iIgqnTp0q+mON5TZhZCR1W7iLe5LBVN5TlUbnIQfTtCu3IyfdNCDSO/Ok5ITZGYXLSwces7vwhk+0LXjILaTydY9QJBAMno8GGHNUcxt3xUi7xF5jGlX6y27MRLTA3eW6QQzR5huVWosG2saU7zgkhFlU38+Ei+XjgFyGP7jYX3QFNhNH8CQQDFe/Tq9ubMrxK4/d+IFcHha97apYunziNvlphzx94/gghQZPjcqPbQwpWw7LspiWe/Xxb59gD0lp1zvEPTxq/jAkAOqjSLYN6lxR6mkR11Fz6Y7IH+cWrQ9wcXGsddKzs6sa5cYlwuGw+rBFS6GxO1DmKaJfmB6Cmd2W92A3dQlwbRAkAuQe3Jh9HiCfQxvs24O5hxa+oEfxhqUv+76KOHIz7s01GNO0mLrkw59ApKKflhLl1N10EzhasNn6X78RJWLckPAkB4kGsvR7Q53V4tgNStJjYJS5LbxjOy15ld4Z4x/mJSKBgghisoAjrEvkrr4glcl3L9VLVICxrDsYmn5oGKfOpN',
          },
          encryptData: 'AqUWvo8NIRxQRlscUZ96xnH90h4b+FHpO6nAc+y3vh9nDTubiD5FL/A2xdzVqGvtJtQKXnP9ayF2uF1vaA6uE2Xe2fyKGvj6/wUHTH27jsQJIA6yEQkw1ex8a4zewHCutY2OLWYg/r1ia9C+Q+jDcLiaST03Tq91D+gh8bpCgYY=',
          decryptData: '123'
        }
      },

      methods: {
        encryption(str) {
          // 实例化加密对象
          var encrypt = new JSEncrypt()
          // 设置加密公钥
          encrypt.setPublicKey(this.key.publicKey)
          // 加密
          // return encrypt.encrypt();
          // 分段加密
          return encrypt.encryptLong(str)
        },
        decryption(str) {
          // 实例化加密对象
          var encrypt = new JSEncrypt()
          // 设置加密公钥
          encrypt.setPrivateKey(this.key.privateKey)
          // 解密
          // return encrypt.decrypt(dpParam);
          // 分段解密
          return encrypt.decryptLong(str)
        },
        encrypt() {
          this.encryptData = this.encryption(this.decryptData)
        },
        decrypt() {
          this.decryptData = this.decryption(this.encryptData)
        },
        inputPublicKey() {
          localStorage.setItem('publicKey', this.key.publicKey)
        },
        inputPrivateKey() {
          localStorage.setItem('privateKey', this.key.privateKey)
        }
      },
      created: function () {

      }
    })

  </script>
</body>

</html>
